@tailwind base;
@tailwind components;
@tailwind utilities;

.contenedor {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

body {
    background-color: #000;
    color: #fff;
}

.container-tabla {
    width: 90%;
}

.target-explication {
    border-radius: 0.6rem;
    display: flex;
}

.tittle-target {
    width: 10rem;   
    margin-left:1rem ;
    font: bold;
    border-right: solid;
    border-color: #db5c5c;
    margin-right: 1rem;
}